 <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" contnet=""width=device-width, initial-scale="1.0">
        <title>Music Mind Frontend</title>
        <link rel="stylesheet" href="style.css">
        <script src="frontendScript.js"></script>
    </head>
    <body>
        <header>
            <h1>Music Mind</h1>
        </header>
       
        <form method='POST' enctype='multipart/form-data'>
            {{form.hidden_tag()}}
           <label for ="Genre:"{{form.genre.label()}}></label>
           {{form.genre(id="genre")}}
            <label for = "Artist:">{{form.artist.label()}}</label>
            {{form.artist(id="artist")}}

            {{form.files()}}
            {{form.submit()}}
        </form>
    </body>
</html>